.App {
  text-align: center;
  background-image: "url('https://media.giphy.com/media/xThuWd5Go1F2qDsg1O/giphy.gif')"
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Set the desired height for the loader div */
}

.loader i {
  font-size: 24px; /* Set the desired size for the spinner icon */
  color: #007bff; /* Set the color of the spinner icon */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageWithOrangeBorder {
  min-height: 100vh; /* Ensure the content div takes up at least the full height of the viewport */
  border: 10px solid orange; /* Set orange border for the entire page */
  box-sizing: border-box; /* Include border in element's total width and height */
}

.dialogPaper {
  border-radius: 12px;
  font-family: monospace;
}